<nav class="navbar navbar-expand-lg navbar-bg">
  <div class="container-fluid">
    <a class="navbar-brand white-text" href="#">User Directory</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link white-text" aria-current="page" routerLink="/user-list" routerLinkActive="active-link">User list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link white-text" routerLink="/add-user" routerLinkActive="active-link">Add User</a>
        </li>
      </ul>
      <span class="navbar-text white-text">
        Developed by: Hiral
      </span>
    </div>
  </div>
</nav>
